h1 {
  color: #D8DCE6;
}
h1 {
  font-family: avenir next;
  font-size: 90px;
  text-align: center;
  margin-top: -10px;
}
p.intro {
  font-family: avenir;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  color: #D8DCE6;
  margin-top: -70px;
}
p.description {
  font-family: avenir;
  text-align: center;
  font-size: 25px;
  font-style: italic;
  color: #D8DCE6;
  margin-top: -70px;
    margin-left: 40 px;
    margin-right: -40 px;
    border: none;
}
p.food {
  font-family: avenir;
  text-align: center;  
  font-size: 25px;
  font-style: italic;
  color: #D8DCE6;
  margin-top: 0;
    background: none;
    margin-left: 40 px;
    margin-right: -40 px;
   border: none;
}
ul {
  font-family: avenir next;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  position: relative;
  left: 36%;
    list-style: none;
    outline: none;
    border: none;
}
img.me {
  height: 200px;
  width: 200px; 
  display: block;
  margin: auto;
}
img.book {
  height: 200px;
  width: 200px; 
    margin-bottom: 70px;
align-content: center;
    align-items: center;
    margin-right: 30px;
}
img.japanese {
    height: 200px;
    width:200px;
    display:block;
    margin:auto;
}
img.italian {
    height:200px;
    width:200px;
    display:block;
    margin:auto;
}
img.mexican {
    height:200px;
    width:200px;
    display:block;
    margin:auto;
}
a {
  color: #CEE4EB;
}
a:hover {
  color: #EBD5CE;
}
a:active {
  color: 84BDCF;
}
background {
    background-color: floralwhite;
}